/*
## Header 
********************************************************************/


#header .siteLogo{

}

#header .headerContent{
	padding: 10px 0 20px 0;
	background: #ffffff;
}

#header .headerContent.secondRow{
	margin-bottom: 10px;
	position: relative;
    float: right;
    width: 65%;
}

#header .headerContent .nav{
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 11px;
    font-family: Arial, Sans-Serif;
    font-weight: normal;
    color: #b3b3b3;
    display:block;
}

#header .headerContent .nav > li{
	display: inline-block;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    line-height: 20px;
    padding: 0 5px;
}

#header .headerContent .nav > li:first-child {
	border:0;
	padding-left:0;
}

#header .headerContent .nav > li > a{
	display:block;
}

#header .headerContent .nav > li.miniCart > a{
	text-transform:lowercase; /*  temp */
}

#header .headerContent.secondRow .yCmsComponent{
	float: right;
}

#header .headerContent.secondRow .yCmsComponent + .yCmsComponent{
	margin:0 0 0 10px;
}

.languagecurrencycomponent{
	margin: 0 10px;
	display: inline-block;
}

.languagecurrencycomponent li{
	float:left;
	height:30px;
}

.languagecurrencycomponent li + li{
	margin:0 0 0 10px;
}






