/*
## Navigation
********************************************************************/

.navigationbarcollectioncomponent{
	font-family: "Lato", Arial, Sans-serif;
	color: #333333;

	position:relative;
	z-index:100;
	clear: both;
	border-bottom: 1px solid #e3e3e3;
}


/*
#### 1. Navigation Level
********************************************************************/

.navigationbarcollectioncomponent  li.La{
	float:left;
	text-align:center;
	padding: 20px 0 16px 0;
    display: inline-block;
    margin: 0 20px 0 0;
}

.navigationbarcollectioncomponent  li.La > a{
	display:block;
	color: #333333;
}

/*
#### 2. Navigation Level
********************************************************************/
.navigationbarcollectioncomponent ul.Lb{
	display:none;
}


.navigationbarcollectioncomponent li.La:hover ul.Lb,
.navigationbarcollectioncomponent li.La a:focus + ul.Lb{
	display:block;
}

.navigationbarcollectioncomponent ul.Lb{
	position:absolute;
	background: #333333;
	text-align:left;
	padding:20px;
	z-index:99;
	border-top:0;
	width: 908px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	
	top: 100% !important;
    left: 0;
    list-style-image: none;
	
}

/*
.navigationbarcollectioncomponent ul.Lb:before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    margin-left: 10px;
    top: -18px;
    border-width: 10px;
    border-style: solid outset solid solid;
    border-color: transparent transparent #333333 transparent;
}
*/

.navigationbarcollectioncomponent ul.Lb li a{
    color: #999999;
    float: none;
    width: auto;
    margin: 0;
    display: block !important;
    line-height: 2.5em;
    font-size: 13px;
    text-align: left;
    font-weight: normal;
    text-transform: none;
}

.navigationbarcollectioncomponent ul.Lb li.Lb{
	float:left;
    color: #999999;
}


.navigationbarcollectioncomponent ul.Lb li.Lb span.nav-submenu-title{
	display:block;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1.167em;
	margin:0 0 10px 0;
}




.navigationbarcollectioncomponent ul.Lb li.Lb .Lc{
	float:left;
	width:281px;
}





/*
#### Special Offer
********************************************************************/

.navigationbarcollectioncomponent .La.special_offer{
	background:#eee;
	float:right;
}